*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(300, 43%, 22%);
  --secondary-color: hsl(0, 0%, 100%);
  --text-gray: hsl(300, 24%, 96%);
  --section-text: hsl(303, 10%, 53%);
  --verified-user: hsl(333, 80%, 67%);
  --rating: hsla(333, 80%, 67%, 0.2);
}

@font-face {
  font-family: "League_Spartan";
  src: url("./League_Spartan/LeagueSpartan-VariableFont_wght.ttf")
    format("truetype");
}

body {
  text-align: center;
  font-family: "League_Spartan";
  display: flex;
  height: 100vh;
  align-items: center;
  font-size: 0.938rem;
  padding-inline: 1em;
}

main {
  width: 100%;
  max-width: 600px;
}

header > h1 {
  font-size: clamp(2rem, 1.754rem + 1.052vw, 2.7rem);
  color: var(--primary-color);
  margin-bottom: 1em;
}

section > p{
  color: var(--section-text);
  line-height: 1.6;
}

section, .rating{
  margin-bottom: 2em;
}

.rating{
  font-size: clamp(1.3rem, 1.23rem + 0.3vw, 1.5rem);
  font-weight: bold;
  color: var(--primary-color);
}

.rating ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li{
  background: var(--rating);
  padding-block: 0.7em;
  border-radius: 0.4rem;
}

div > .stars{
  max-width: 100%;
  margin-left: 1.5rem;
}